@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @model IEnumerable<Thesis.Models.Object>;
    @inject Thesis.Data.ApplicationDbContext _context*@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Поиск";
}


<main class="search">
    <div class="container">
        <div class="search-left">
            <div class="search-filter-title">Фильтр</div>
            <div class="search-filter">
                <div class="filter-item">
                    <div class="filter-item-name">Район</div>
                    <div class="filter-item-options">
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Раменки</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Проспект Вернадского и еще</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Теплый Стан</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Хамовники</div>
                        </div>
                        <div class="filter-item-showall">+ Показать все</div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-item-name">Тип объекта</div>
                    <div class="filter-item-options">
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Скейт-парк</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Площадка для воркаута</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Площадка для игровых видов</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Скейт-парк</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Площадка для воркаута</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Площадка для игровых видов</div>
                        </div>
                        <div class="filter-item-showall">+ Показать все</div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-item-name">Покрытие</div>
                    <div class="filter-item-options">
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Асфальт</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Резиновая крошка</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Газон</div>
                        </div>
                        <div class="filter-item-showall">+ Показать все</div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-item-name">Покрытие</div>
                    <div class="filter-item-options">
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Асфальт</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Резиновая крошка</div>
                        </div>
                        <div class="filter-item-option">
                            <div class="filter-item-option-checkbox">
                                <input type="checkbox" id="">
                                <span class="filter-item-option-check"></span>
                            </div>
                            <div class="filter-item-option-label">Газон</div>
                        </div>
                        <div class="filter-item-showall">+ Показать все</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-right">
            <div class="search-result-header">
                <div class="search-result-title">Результат поиска (<span class="search-result-count">@*Model.Count()*@</span>)</div>
                <div class="search-result-clear">Сбросить фильтр</div>
            </div>
            <div class="search-result-list">
                <div class="search-result-item">
                    <div class="search-result-item-left">
                        <div class="search-result-photo">
                            <img src="images/object.jpg" alt="">
                        </div>
                        <!--
                        -->
                        <div class="search-result-address-info">
                            <div class="search-result-address-wrap">
                                <div class="search-result-address">
                                    <div class="search-result-address-main">ул. 26 Бакинских комиссаров, 3к4</div>
                                    <div class="search-result-address-district">Теплый Стан</div>
                                </div>
                            </div>
                        </div>
                        <!-- Комментарий для избавления от промежутка между двумя inline-block-->
                    </div>
                    <div class="search-result-item-right">
                        <div class="search-result-item-props">
                            <div class="search-result-item-type">Площадка для воркаута</div>
                            <div class="search-result-item-terrain">Покрытие: <span>Асфальт</span></div>
                            <div class="search-result-item-light">Освещение: <span>Есть</span></div>
                        </div>
                    </div>
                    <a href="#" class="search-result-item-map">Показать на карте</a>
                </div>
                <div class="search-result-item">
                    <div class="search-result-item-left">
                        <div class="search-result-photo">
                            <img src="images/object.jpg" alt="">
                        </div>
                        <!--
                        -->
                        <div class="search-result-address-info">
                            <div class="search-result-address-wrap">
                                <div class="search-result-address">
                                    <div class="search-result-address-main">ул. 26 Бакинских комиссаров, 3к4</div>
                                    <div class="search-result-address-district">Теплый Стан</div>
                                </div>
                            </div>
                        </div>
                        <!-- Комментарий для избавления от промежутка между двумя inline-block-->
                    </div>
                    <div class="search-result-item-right">
                        <div class="search-result-item-props">
                            <div class="search-result-item-type">Площадка для воркаута</div>
                            <div class="search-result-item-terrain">Покрытие: <span>Асфальт</span></div>
                            <div class="search-result-item-light">Освещение: <span>Есть</span></div>
                        </div>
                    </div>
                    <a href="#" class="search-result-item-map">Показать на карте</a>
                </div>
            </div>
            <div class="search-result-question">
                Не нашли площадку?<br><a href="#">Добавьте</a> информацию о ней вручную
            </div>
        </div>
    </div>
</main>