@using Microsoft.AspNetCore.Identity;
@using Thesis.Models;
@inject UserManager<User> userManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-logo">
                <img src="~/images/ball.png" alt="">
            </div>
            <div class="header-title">
                <span>Название</span>
            </div>
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li class="header-menu-item">
                    <a asp-controller="Map" asp-action="Index">Карта</a>
                </li>
                <li class="header-menu-item active">
                    <a asp-controller="Filter" asp-action="Index">Поиск</a>
                </li>
            </ul>
            <!-- Разделение в зависимости от роли пользователя-->
            <div class="header-auth">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="header-auth-profile">
                        <img src="~/images/man_icon.png" alt="">
                        <ul class="header-auth-profile-menu">
                            <li class="header-auth-profile-menu-item">
                                <a asp-controller="Auth" asp-action="Profile">Профиль</a>
                            </li>
                            <li class="header-auth-profile-menu-item">
                                <form method="post" asp-controller="Auth" asp-action="Logout" class="logout-form">
                                    <input type="submit" value="Выйти" />
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="header-auth-link">
                        <a asp-controller="Auth" asp-action="Signin">Авторизация</a>
                    </div>
                }
            </div>
            <!-- /Разделение в зависимости от роли пользователя-->
            @*TODO: добавить кнопку админской панели*@
        </div>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>
