@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Thesis.Data;
@using Thesis.Models;
@*лист, так как передается несколько объектов*@
@model List<Thesis.Models.Object>
@inject ApplicationDbContext _context

@{
    Layout = "_LayoutPartial";
    ViewData["Title"] = "Карта";
}

<div class="object-events hidden">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="object-events-add">
            Добавить событие
        </div>
    }
</div>

<main id="map">

</main>



<!-- Окно создания события (PartialView)-->
<div class="create-event-wrap-table ">
    @{
        await Html.RenderPartialAsync("CreateEvent", new CreateEventModel());
    };
</div>
<!-- /Окно создания события -->
