@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Thesis.Data;
@using Thesis.Models;
@*лист, так как передается несколько объектов*@
@model List<Thesis.Models.Object>
@inject ApplicationDbContext _context

@{
    Layout = "_LayoutPartial";
    ViewData["Title"] = "Карта";
}


<main id="map">
    
    <div id="getmarker" style="width: 50px; height: 50px; background-color: yellowgreen; position: relative; z-index: 50000"></div>
    <!-- Метка на карте с информацией по площадке (подгрузка AJAX?) -->
    <div class="pin">
        <div class="object-info-wrap">
            <div class="object-info">
                <div class="object-info-top">
                    <div class="object-info-photo">
                        <img src="~/images/object.jpg" alt="">
                    </div>
                    <div class="object-info-address-wrap">
                        <div class="object-info-address" title="">ул. 26 Бакинских Комиссаров, 3к4</div>
                        <div class="object-info-district">Теплый стан</div>
                    </div>
                </div>
                <div class="object-info-props">
                    <div class="object-info-type">Для игровых видов спорта</div>
                    <div class="object-info-terrain">Покрытие: <span>асфальт</span></div>
                    <div class="object-info-light">Освещение: <span>есть</span></div>
                </div>
                <div class="object-info-events-link">События на спортивном объекте</div>
            </div>
        </div>
    </div>
    <!-- /Метка на карте с информацией по площадке (подгрузка AJAX?) -->

    <div class="object-events hidden" id="239b0abe-29ba-4597-bb89-4bc8c9b4432e">
        <div class="object-events-header">Ближайшие события на площадке</div>
        <div class="object-events-list">
            <!--
            <div class="object-events-item">
                <div class="object-event-top clearfix">
                    <div class="object-event-creator">
                        <img src="~/images/man_icon.png" alt="">
                    </div>
                    <div class="object-event-datetime">
                        <div class="object-event-date">01.01.2019</div>
                        <div class="object-event-time">13:00 - 15:00</div>
                    </div>
                </div>
                <div class="object-event-descr">
                    Играем в футбол (6-8 чел). Нужны соперники, примерно столько же.
                </div>
            </div>
            -->
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="object-events-add">
                Добавить событие
            </div>
        }
    </div>
</main>

<!-- Окно создания события (PartialView)-->
<div class="create-event-wrap-table ">
    @{
        await Html.RenderPartialAsync("CreateEvent", new CreateEventModel());
    };
</div>
<!-- /Окно создания события -->